@import "common/variables";
@import "common/settings";
// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation/scss/foundation.scss";
// endbower

@import "common/global";